construct
dfdatetime == 20190517
libfsapfs-python
libbde-python
libfsntfs-python
libfvde-python
libfwnt-python
libqcow-python
libsigscan-python
libsmdev-python
libsmraw-python
libvhdi-python
libvmdk-python
libvshadow-python
libvslvm-python
pycrypto
pytsk3 == 20190507
pyyaml
six
dtfabric == 20190120
dfvfs == 20190902
