construct
dfdatetime
libbde-python
libfsntfs-python
libfvde-python
libfwnt-python
libqcow-python
libsigscan-python
libsmdev-python
libsmraw-python
libvhdi-python
libvmdk-python
libvshadow-python
libvslvm-python
pycrypto
pytsk3
six
dfvfs
backports.lzma
libfsapfs-python
pyyaml
dtfabric
